/* NAV WRAPPER */
.nav-list {
  display: flex;
  align-items: center;   /* vertically center items */
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;             /* space between items */
    background-color: #FFCFFC;
	color: white;
    text-decoration: none;
}

.push {
  margin-left: auto;     /* pushes everything after it to the right */
}
/* HOVER EFFECT */
.nav-list li a:hover {
    background-color: #50029B;
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
}

/* IMAGES IN NAV */
.nav-list img {
    height: 24px;
    width: auto;
	align-content: center;
}

/* SPECIAL: center text section expands, images stay at ends */
.nav-left, .nav-right {
    flex: 0 0 auto; /* Don't stretch */
}

footer {text-align: center;
	padding: 14px 16px;}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;}
h1 {text-align: center;
padding: 6px 4px;
font-family: "Garamond", Garamond, serif;}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}